<% include shared/header.ejs %>

  <div class="container main-container">
    <h1>Forgot Password</h1>

    <form method="post">
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">E-mail</label>
        <input name="username" id="username" class="form-control" type="email" aria-describedby="usernameHelp" placeholder="Enter your email"
          required />
      </div>
      <div class="col-12">
        <div class="row">
          <button class="btn btn-warning">Reset Password</button>
        </div>
        <!-- .row -->
      </div>
      <hr />

      <% if(locals.message){ %>
        <div class="alert alert-success" role="alert">
          <strong>Well done!</strong>
          <%=message.success%>
        </div>
        <% } %>

          <p>Not signed up? Please
            <a href="/register" title="Register">Register</a> first! </p>
    </form>
  </div>
  <% include shared/footer.ejs %>