<% include shared/header.ejs %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Password Reset</h1>
          <p class="lead">This is an application to help you learn how to implement password reset.</p>
        </div>
      </div>

<% include shared/footer.ejs %>
