<% include shared/header.ejs %>

  <h1>Reset Password</h1>

  <form method="post" action="/reset/<%= token %>">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <input name="username" id="username" class="form-control col-sm-2" type="text" aria-describedby="usernameHelp" placeholder="Enter your username"
        required />
    </div>

    <fieldset class="form-group">
      <label for="password" class="col-sm-2 control-label">New Password: *</label>
      <input class="form-control" name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
      <label for="confirm" class="col-sm-2 control-label">Confirm New Password: *</label>
      <input class="form-control" name="confirm" id="confirm" type="password" required />
    </fieldset>

    <div class="col-12">
      <div class="row">
        <button class="btn btn-warning col-1">Reset Password</button>
      </div>
      <!-- .row -->
    </div>
    <hr />
  </form>

  <% include shared/footer.ejs %>